<?xml version="1.0" encoding="utf-8"?>
<!-- 
This template was written to work with NHibernate.Test.
Copy the template to your NHibernate.Test project folder and rename it in hibernate.cfg.xml and change it 
for your own use before compile tests in VisualStudio.
-->
<!-- This is the System.Data.dll provider for SQL Server -->
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory>
    <property name="current_session_context_class">web</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <!--
    <property name="connection.connection_string">
      Server=127.0.0.1;initial catalog=nhibernate;Integrated Security=SSPI;database=EasyJob;uid=sa;pwd=123456
    </property>
    -->
    <property name="connection.connection_string">
      Server=127.0.0.1;initial catalog=nhibernate;Integrated Security=false;database=EasyJob;uid=sa;pwd=sa
    </property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <mapping  assembly="EasyJob.Pojo"/>

    <!--
     -->

  </session-factory>
  
</hibernate-configuration>