@{
    ViewBag.Title = "后台管理系统登录";
}
@Styles.Render("~/bui/css", "~/bootstrap/css")
@Scripts.Render("~/bui/js", "~/jquery/js", "~/bootstrap/js", "~/errorCode/js")

@*<style type="text/css">
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
</style>

<script>
    function Login() {
        var employee = {};
        employee.Code = $("#employee_Code").val();
        employee.PwdWeb = $("#employee_Pwd").val();
        var data = $.toJSON(employee);

        ShowErrorInfo("");//清空出错显示内容
        $("#employee_Login").val("登录中...");

        $.ajax({
            type: "POST",
            url: "/Employee/Login",
            contentType: "application/json",
            dataType: "json",
            data: data,
            success: function (ret) {
                if (ret == true) {
                    window.location.href = "/Admin/Index";
                } else {
                    LoginError("登录失败!");
                }
            },
            error: function (xhr) {
                var errMsg = xhr.responseJSON;
                LoginError(GetErrorMsg(errMsg.Error));
            }
        });
    }

    function ShowErrorInfo(msg) {
        $("#errorInfo").html(msg);
    }

    function LoginError(msg) {
        $("#employee_Login").val("登录");
        ShowErrorInfo(msg);
        $("#employee_Pwd").focus();
    }

    $(document).ready(function () {
        $('#employee_Code').keydown(function (e) {
            if (e.keyCode == 13) {
                $("#employee_Pwd").focus();
            }
        });

        $('#employee_Pwd').keydown(function (e) {
            if (e.keyCode == 13) {
                Login();
            }
        });

        $('#employee_Login').click(function () {
            Login();
        });
    });
</script>

<div class="container">

    <div class="form-signin">
        <h2 class="form-signin-heading">登录系统</h2>
        <input type="text" name="Code" id="employee_Code" class="input-block-level" placeholder="请输入工号" value="@ViewBag.OpenId">
        <input type="password" name="Pwd" id="employee_Pwd" class="input-block-level" placeholder="请输入密码">
        <input type="text" name="verify" class="input-medium" placeholder="验证码">

        <p><button class="btn btn-large btn-primary" id="employee_Login" type="submit">登录</button></p>
        <span> <span class="text-warning" id="errorInfo"></span></span>
    </div>

</div>*@

@*<script>
    function Login() {
        var employee = {};
        employee.PurOrderCode = $("#employee_Pur").val();
        employee.Vendor = $("#employee_Vendor").val();
        employee.StoreHouseID = $("#employee_StoreHouse").val();
        employee.Buyer = $("#employee_Buyer").val();
        employee.OperID = $("#employee_Oper").val();
        employee.OPerTime = $("#employee_OPerTime").val();
        employee.ApprovalTime = $("#employee_Approval").val();
        employee.State = $("#employee_State").val();
        employee.TotalMoney = $("#employee_TotalMoney").val();
        var data = $.toJSON(employee);

        //ShowErrorInfo("");//清空出错显示内容
        $("#employee_Login").val("登录中...");

        $.ajax({
            type: "POST",
            url: "/PurOrder/Add",
            contentType: "application/json",
            dataType: "json",
            data: data,
            success: function (ret) {
                if (ret == true) {
                    //LoginError("添加成功!");
                    console.log("添加成功!");
                } else {
                    //LoginError("添加失败!");
                    console.log("添加失败!");
                }
            },
            error: function (xhr) {
                var errMsg = xhr.responseJSON;
                LoginError(GetErrorMsg(errMsg.Error));
            }
        });
    }
    $(document).ready(function () {
        //$('#employee_Code').keydown(function (e) {
        //    if (e.keyCode == 13) {
        //        $("#employee_Pwd").focus();
        //    }
        //});

        //$('#employee_Pwd').keydown(function (e) {
        //    if (e.keyCode == 13) {
        //        Login();
        //    }
        //});

        $('#employee_Login').click(function () {
            Login();
        });
    });
</script>

<div class="container">

    <div class="form-signin">
        <h2 class="form-signin-heading">采购单</h2>
        <input type="text" name="Code" id="employee_Pur" class="input-block-level" placeholder="单号">
        <input type="text" name="Pwd" id="employee_Vendor" class="input-block-level" placeholder="供应商">
        <input type="text" name="Code" id="employee_StoreHouse" class="input-block-level" placeholder="仓库">
        <input type="text" name="Pwd" id="employee_Buyer" class="input-block-level" placeholder="采购员">
        <input type="text" name="Code" id="employee_Oper" class="input-block-level" placeholder="操作员">
        <input type="text" name="Pwd" id="employee_OPerTime" class="input-block-level" placeholder="操作时间">
        <input type="text" name="Pwd" id="employee_Approval" class="input-block-level" placeholder="审核时间">
        <input type="text" name="Code" id="employee_State" class="input-block-level" placeholder="单据状态">
        <input type="text" name="Pwd" id="employee_TotalMoney" class="input-block-level" placeholder="总金额">
        <p><button class="btn btn-large btn-primary" id="employee_Login" type="submit">登录</button></p>
        <span> <span class="text-warning" id="errorInfo"></span></span>
    </div>

</div>*@

<script>
    var employee = {};
    employee.pageSize = 1;
    //employee.pageNum = 0
    var data = $.toJSON(employee);
    $.ajax({
        type: "POST",
        url: "/Storehouse/GetPageCount",
        contentType: "application/json",
        dataType: "json",
        data: data,
        success: function (ret) {
            if (ret == true) {
                //LoginError("添加成功!");
                console.log(ret);
            } else {
                //LoginError("添加失败!");
                console.log("添加失败!");
            }
        },
        error: function (xhr) {
            var errMsg = xhr.responseJSON;
            LoginError(GetErrorMsg(errMsg.Error));
        }
    });
</script>