@{
    ViewBag.Title = "Index";
}

<form action="File/ImportData" method="post" enctype="multipart/form-data">
    <input type="text" name="cls" />
    <input type="file" name="UploadFile" />
    <input type="file" name="UploadFile" />
    <input type="submit" value="上传" />
</form>